@{
    ViewData["Title"] = "افزودن کالا";
}

<div class="row justify-content-center" style="height:100vh">
    <div class="p-2 row align-self-center justify-content-center w-50 h-25" style="border:solid 2px rgb(95 227 12 / 55%);border-radius:15px">
        <center>
            <h1>ساخت کالا جدید برای استخراج از متن</h1>
            <div class="col-6 align-self-center mt-5">
                <form method="post">
                    <input type="text" name="ProductName" id="ProductName" class="form-control" placeholder="نام کالا" />
                    <button class="btn btn-success" type="submit">ثبت</button>
                </form>
            </div>
        </center>
    </div>
</div>