@model List<SMSPanelManager.Data.Entities.Contact>;

@{
    ViewData["Title"] = "مدیریت مخاطبین";
    int i = 1;
}

<div class="row">
  
    <center>
        <div class="col-5">
            <a class="btn btn-success mt-4" href="/Contact/CreateNewContact">افزودن یک مخاطب</a>
            <hr />
            <table class="table table-bordered bg-dark table-dark">
                <tr>
                    <th>ID</th>
                    <th>نام مخاطب</th>
                    <th>شماره تلفن</th>
                    <th>اکشن</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@i</td>
                        <td>@item.Name</td>
                        <td>@item.PhoneNumber</td>
                        <td><a class="btn btn-danger" href="/Contact/DeleteContact?ContactId=@item.ContactId">حذف</a></td>
                    </tr>
                    i++;
                }
            </table>
        </div>
    </center>
</div>