@model SMSPanelManager.Core.DTO.EditUserDTO
@{
    ViewData["Title"] = "صفحه تغیر اطلاعات ورود به پنل کاربری";
}

@section CustomStyles{
}

<div class="row justify-content-center" style="height:100vh">
    <div class="p-2 row align-self-center justify-content-center w-50 h-25" style="border:solid 2px rgb(95 227 12 / 55%);border-radius:15px">
        <center>
            <h1>صفحه تغیر اطلاعات ورود به پنل کاربری</h1>
            <div class="col-6 align-self-center mt-5">
                <form method="post">
                    <input type="text" asp-for=UserName class="form-control text-center mb-2 bg-dark" style="color:rgb(95 227 12 / 55%);border:0px" placeholder="نام کاربری">
                    <input asp-for=OldPassword type="password" class="form-control text-center mb-2 bg-dark" style="color:rgb(95 227 12 / 55%);border:0px" placeholder=" رمز عبور قدیمی" />
                    <input asp-for=NewPassword type="password" class="form-control text-center mb-2 bg-dark" style="color:rgb(95 227 12 / 55%);border:0px" placeholder=" رمز عبور جدید" />
                    <input asp-for=ReNewPassword onKeyUp="checkPass()" type="password" class="form-control text-center bg-dark" style="color:rgb(95 227 12 / 55%);border:0px" placeholder=" تکرار رمز عبور جدید" />
                    <span id="confirmMessage" class="confirmMessage text-danger"></span>
                    <button class="btn btn-success  mt-2">
                       ثبت
                    </button>
                </form>
            </div>
        </center>
    </div>
</div>

@section CustomScripts{
    <script>
       function checkPass () {
    var pass1 = document.getElementById ('NewPassword');
    var pass2 = document.getElementById ('ReNewPassword');
    var message = document.getElementById ('confirmMessage');
    var goodColor = "#fff";
    var goodColored = "#087a08";
    var badColor = "#fff";
    var badColored = "#ed0b0b";

            if (pass1.value == pass2.value) {
                pass2.style.backgroundColor = goodColor;
        message.style.color = goodColored;
        message.innerHTML = "<i class='fa fa-check'></i>"
    } else {
                pass2.style.backgroundColor = badColor;
        message.style.color = badColored;
        message.innerHTML = "<i class='fa fa-close'>تکرار رمز عبور با رمز عبور برابر نیست</i>"
    }
}

    </script>
}